[Unit]
Description=Kanshi Display Manager Daemon
After=sway-session.target
Documentation=man:kanshi(1)

[Service]
ExecStart=/usr/bin/kanshi
ExecReload=/usr/bin/kanshictl reload
Type=simple

[Install]
WantedBy=sway-session.target
