[Unit]
Description=Waybar
After=sway-session.target
Documentation=man:waybar(5)

[Service]
ExecStart=/usr/bin/waybar
ExecReload=kill -s USR2 $MAINPID
Type=simple
Restart=always

[Install]
WantedBy=sway-session.target
